body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Chrome */     
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 
}

#startButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  font-size: 18px;
  background-color: #39245B;
  color: #FFF;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 10; /* Aseguramos que el botón esté sobre el canvas */
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* El canvas estará debajo del botón inicialmente */
}
